#real {
  margin: auto;
  padding: 5px;
}

.grid{
  background-color: white;
}

#other {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  margin:0px;
}

#button {
  margin:auto;
  padding:20px;
  width: 150px;
}

button {
  margin: auto;
  width: 200px;
}

#content{
  background-color: white;
  min-height: 100vh;
  height: 100%;
  border-left: 1.5rem  double red;
  border-right: 1.5rem  double red;
}

@media all and (max-width: 575px){
  #content {
    border:0;
    padding:0;
  }
}

