#real {
  margin: auto;
  padding: 5px;
}

.grid{
  background-color: white;
}

#other {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  margin:0px;
}

#button {
  margin:auto;
  padding:20px;
  width: 150px;
}

button {
  margin: auto;
  width: 200px;
}