.player {
    margin: auto;
    text-align: center;
}

.score {
    padding: 2px;
}

.grid {
    outline: 3px solid rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    margin: inherit;
    user-select: none;
  }

.grid.real {
  width: 300px;
}

.grid.piece {
  width: 100px;
}

.grid.other {
  width: 150px;
}

@media all and (max-height: 700px){
  .grid.real {
    width: 200px;
  }
  .grid.piece {
    width: 40px;
  }
  .grid.other {
    width: 100px;
  }
}
