.player {
    margin: auto;
    text-align: center;
}

.score {
    padding: 2px;
}

.grid {
    outline: 3px solid rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    margin: inherit;
    user-select: none;
  }

.grid.real {
  width: 300px;
}

.grid.piece {
  width: 100px;
}

.grid.other {
  width: 150px;
}