.tail {
    flex: 1 1 calc(100% / 10);
    outline: 1px solid #E6E9ED;
    display: flex;
    cursor: default;
  }

.tail.real {
    height: 30px;
}

.tail.piece {
    flex: 1 1 calc(100% / 4);
    height: 25px;
}

.tail.other {
    height: 15px;
    width:15px;
}

.tail.red {
    background: #ff4444;
}
.tail.yellow {
    background: #ffbb33;
}
.tail.green {
    background: #00c851;
}
.tail.blue {
    background: #33b5e5;
}
.tail.orange {
    background: #ff8800;
}
.tail.dark-blue {
    background: #4285f4;
}
.tail.violet {
    background: #aa66cc;
}
.tail.grey {
    background: #F7F7F7;
}




