.tail {
    /* font-size: 2em; */
    flex: 1 1 calc(100% / 10);
    outline: 0.08em solid silver;
    /* margin: 0.2%; */
    height: 30px;
    width: 10px;
    display: flex;
    cursor: default;
  }
  
.tail.blue {
    background: blue;
}

.tail.red {
    background: red;
}

.tail.green {
    background: green;
}

.tail.yellow {
    background: yellow;
}