@import 'components/App.css';
@import 'components/Game.css';
@import 'components/Grid.css';
@import 'components/Home.css';
@import 'components/Lobby.css';
@import 'components/Tail.css';

.divStyle {
    margin: 0 auto;
    width: 400px;
    font-family: "Courier New", Courier, monospace;
}

button {
    font-family: "Courier New", Courier, monospace;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.block {
    flex: 1 1 calc(100% / 6 - 0.4em);
}

body{
    min-height: 100vh;
}
#root{
    min-height: 100vh;
}
#app {
    min-height: 100vh;
}